# Discord Bot Token
# Get your token from https://discord.com/developers/applications
DISCORD_TOKEN=your_discord_bot_token_here

# System Monitor Settings
# Set to "true" to enable, "false" to disable (default: true)
SYSTEM_MONITOR_ENABLED=true

# Anonymous Board Settings
# Channel ID where the button will be displayed
ANONYMOUS_BUTTON_CHANNEL_ID=your_button_channel_id_here

# Channel ID where anonymous messages will be posted
ANONYMOUS_POST_CHANNEL_ID=your_post_channel_id_here

# Auto delete time in seconds (0 to disable auto-delete)
ANONYMOUS_MESSAGE_DELETE_SECONDS=86400

# Health Check Settings
# Set to "true" to enable, "false" to disable (default: true)
HEALTH_CHECK_ENABLED=true
PORT=8000
